<div class="movies_page">
  <div class="header">
    <%= button_to "Find Top Rated Movies", movies_path, method: :get %>

    <%= form_with url: movies_path, local: true, method: :get do |form| %>
      <%= form.label :q, 'Search by movie title:' %>
      <%= form.text_field :q %>
      <%= form.submit 'Find Movies' %>
    <% end %>
  </div>

  <% if @movies.present? %>
  <div class="movies">
    <% @movies.each do |movie| %>
      <div class='movie'>
        <p><%= link_to movie[:title], movie_path(movie[:id]) %></p>
        <p>Vote Average: <%= movie[:vote_average] %></p>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class='container'>
      <h1>Bad Search</h1>
    </div>
  <% end %>
</div>