<div class="container">
  <h1>Welcome to Viewing Party</h1>

  <p>Please Register for an Account</p>

  <%= form_with model: @user, url: signup_path, local: true do |form| %>
    <div class="form_container">
      <%= form.label :email %>
      <%= form.text_field :email %>

      <%= form.label :password %>
      <%= form.password_field :password %>

      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>

      <%= form.submit "Register" %>
    </div>
  <% end %>
</div>
