<div class='container'>
  <%= button_to "Discover Movies", discover_path, method: :get %>
</div>

<div class='friend-container'>
  <h2>Friends</h2>
  <div class='line'></div>
  <%= form_with model: @friend, url: add_friend_path,local: true do |f|%>
    <%= f.label "Friend's email" %>
    <%= f.text_field :email %>
    <%= f.submit "Add Friend" %>
  <% end %>
</div>

<div class='party-container'>
  <h2>Viewing Parties</h2>
  <div class='line'></div>
</div>