<div class='container'>
  <%= button_to "Discover Movies", discover_path, method: :get %>
</div>

<div class='friend-container'>
  <h2>Friends</h2>
  <div class='line'></div>
  <div class='add-friend-form'>
    <%= form_with model: @friend, url: add_friend_path(current_user), local: true do |f|%>
      <%= f.label "Friend's email" %>
      <%= f.text_field :email %>
      <%= f.submit "Add Friend" %>
    <% end %>
  </div>

  <div class='friend-list'>
    <% if current_user.friends.present? %>
      <% current_user.friends.each do |friend| %>
        <p><%= friend.email %></p>
      <% end %>
    <% else %>
      <p>You currently have no friends</p>
    <% end %>
  </div>
</div>

<div class='party-container'>
  <h2>Viewing Parties</h2>
  <div class='line'></div>
  <div class='parties'>
    <% current_user.parties.each do |party| %>
      <div class='party'>
        <p><%= party.title %></p>
        <p><%= party.date.strftime("%B %d, %Y") %></p>
        <p><%= party.start_time.strftime("%l:%M %p") %></p>
        <p>Hosting</p>
      </div>
    <% end %>

    <% current_user.invited_parties.each do |party| %>
      <div class='party'>
        <p><%= party.title %></p>
        <p><%= party.date.strftime("%B %d, %Y") %></p>
        <p><%= party.start_time.strftime("%l:%M %p") %></p>
        <p>Invited</p>
      </div>
    <% end %>
  </div>
</div>